// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

ul, ol, dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "HarmonyOS Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    outline: none;
    font-family: "HarmonyOS Sans SC", sans-serif;
}

button {
    font-family: "HarmonyOS Sans SC", sans-serif;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.main {
    &_container {
        max-width: 1296px;
        margin: 0 auto;
    }
    
    &_btn {
        padding: 16px 30px;
        font-size: 14px;
        font-weight: 500;
        line-height: 15.4px;
        color: rgba(0, 0, 0, 1);
        @include flex-center();
        gap: 10px;
        background-color: rgba(255, 255, 255, 1);
        @include transition();
    
        svg {
            path {
                @include transition();
            }
        }
    
        &:hover {
            background-color: rgba(166, 25, 46, 1);
            color: rgba(255, 255, 255, 1);
    
            svg {
                path {
                    stroke: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    &_title {
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;

        span {
            display: inline;
            color: #A6192E;
        }
    }
}

.btn {
    &_light {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        background: #FFF;
        color: #000;
        padding: 16px 30px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 110%;
        font-weight: 500;
        @include transition();

        .icon {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            path {
                @include transition();
            }
        }

        &:hover {
            background: #000000;
            color: #FFF;

            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
}

// header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    &_top {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.9);

        
        &_left {
            @include flex-center();
            gap: 60px;
    
            a {
                @include flex-center();
                gap: 10px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
                font-weight: 400;
                line-height: 15.4px;
            }
        }
        
        &_right {
            @include flex-center();
            gap: 40px;
            a {
                @include flex-center();
                gap: 6px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: 1px;
            }
        }
    }

    &_bottom {
        padding: 16px 0;
        background: rgba(0, 0, 0, 0.8);
    }

    &_contacts {
        @include flex-center();
        gap: 40px;
    }

    &_logo {
        @include flex-center();
        gap: 24px;

        .line {
            height: 35px;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
        }

        h6 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            font-weight: 400;
            line-height: 110%;
        }
    }

    .location_phone {
        h6 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        a {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
        }
    }

    .media_btns {
        display: none;
    }
    

    // &_media_phone,
    // .burger_btn {
    //     display: none;
    // }

}
// header

// Mobile menu
.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 96px;
    display: none;

    &__content {
        max-width: 500px;
        margin: 0 auto;

        .links {
            &_wrap {
                display: flex;
                flex-direction: column;
                gap: 60px;
                margin-bottom: 80px;
            }

            &_item {
                display: flex;
                flex-direction: column;
                gap: 14px;

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 110%;
                    text-transform: uppercase;
                }

                a {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 110%;
                }
            }
        }

        .content_bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn_light {
                width: 100%;
                justify-content: center;
                margin-bottom: 40px;

                &:hover {
                    background: #A6192E;
                }
            }

            .link {
                display: inline-flex;
                align-items: center;
                gap: 6px;
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;

                &:last-child {
                    margin-top: 24px;
                }
            }
        }
    }
}
// Mobile menu end

// Home 
.home {
    color: #FFF;

    .swiper {
        &-slide {
            width: 100%;
            height: 700px;
            position: relative;
        }

        &_container {
            position: absolute;
            z-index: 2;
            bottom: 40px;
            left: 0;
            width: 100%;
        }

        &_pagination {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;

            span {
                height: 4px;
                margin: 0 !important;
                padding: 0;
                opacity: 1;
                border-radius: 0;
                width: 80px;
                background: rgba(255, 255, 255, 0.2);
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background: #fff;
                    transition: 3s linear width;
                    opacity: 0;
                }

                &.swiper-pagination-bullet-active {
                    &::before {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }

    .main_img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 225px;
    }

    &__title {
        font-size: 50px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__description {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 40px;
    }

    &__card {
        background: #000;
        padding: 40px 0;

        .main_container {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            gap: 24px;
        }

        &_item {
            overflow: hidden;
            padding: 24px;
            background: #181818;
            width: calc(100% / 3 - 16px);
            position: relative;

            img {
                position: relative;
                z-index: 2;
            }

            h4 {
                position: relative;
                z-index: 2;
                margin: 40px 0 14px;
                font-size: 20px;
                font-weight: 900;
                line-height: 110%;
                text-transform: uppercase;
            }

            p {
                position: relative;
                z-index: 2;
                font-size: 16px;
                line-height: 120%;
            }

            .hover_block {
                position: absolute;
                top: 0;
                left: -100px;
                bottom: 0;
                margin: auto 0;
                width: 100px;
                height: 100%;
                border-radius: 50%;
                background-color: rgba(166, 25, 46, 1);
                @include transition();
            }

            &:hover {
                .hover_block {
                    z-index: 1;
                    border-radius: 0;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
// Home  end

// request
.request {
    background-image: url('../images/request_desktop_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .request_content {
        padding: 80px 0;
        margin-left: auto;
        max-width: 496px;

        h6 {
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 14px;
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 110%;
            margin-bottom: 40px;
        }
    }

    .input_blocks {
        display: flex;
        align-items: stretch;
        gap: 24px;

        input {
            border: 1px solid rgb(255, 255, 255);
            background-color: transparent;
            color: rgba(255, 255, 255, 0.4);
            font-size: 14px;
            font-weight: 500;
            line-height: 110%;
            padding: 14px 20px;
        }
    }

    .checkbox_block {
        margin-top: 14px;
        @include flex-center();
        gap: 6px;

        span {
            user-select: none;
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 300;
            line-height: 110%;
        }
    
        .option {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
            cursor: pointer;
            font-size: 1.6rem;
            color: rgb(255, 255, 255);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .option input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
          
        .checkbox {
            position: relative;
            height: 14px;
            width: 14px;
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            transition: all 0.15s;
        }
        
        .option input:focus-visible ~ .checkbox {
            border: 1px solid rgb(255, 255, 255);
        }
        
        .option:hover input ~ .checkbox {
            border: 1px solid rgb(255, 255, 255);
        }
    
        .checkbox1:after {
            content: "";
            position: absolute;
            top: 6px;
            left: 1px;
            width: 0px;
            height: 0px;
            border: solid rgb(255, 255, 255);
            border-width: 2px 2px 0 0;
            opacity: 0;
            transform-origin: left top;
            transform: scaleX(-1) rotate(135deg);
            transition: width 0.08s ease 0.1s, height 0.1s ease, border-color 0.3s ease,
            opacity 0.1s ease 0.2s, border-width 0.1s ease;
        }
          
        .option input:checked ~ .checkbox1:after {
            opacity: 1;
            width: 3px;
            height: 7px;
            border-color: rgb(255, 255, 255);
            transition: width 0.1s ease, height 0.08s ease 0.1s, border-color 0.3s ease,
            border-width 0.1s ease;
        }
    }

}
// request

// special_offers 
.special_offers {
    background-color: rgba(0, 0, 0, 1);
    padding: 60px 0;

    .special_offers_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .special_card {
        width: calc(100% / 3 - 16px);
    }

    img {
        width: 100%;
    }

    h3 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 900;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
        margin: 20px 0 15px;
        min-height: 52px;
    }

    a {
        @include flex-center();
        gap: 6px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 1px;
        @include transition();

        svg {
            path {
                @include transition();
            }
        }

        &:hover {
            color: rgba(166, 25, 46, 1);

            svg {
                path {
                    stroke: rgba(166, 25, 46, 1);
                }
            }
        }
    }
}
// special_offers 

// contact
.contact {
    padding: 80px 0;

    form {
        flex: 1;
    }

    .contact_img {
        flex: 1;

        img {
            width: 100%;
        }
    }

    .main_container {
        display: flex;
        gap: 40px;
    }

    h6 {
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .form_inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        input {
            display: block;
            width: calc(100% / 2 - 5px);
            padding: 14px 20px;
            border: 1px solid rgb(0, 0, 0);
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
            font-weight: 500;
            line-height: 110%;
        }
    }

    .main_btn {
        margin: 10px 0 24px;
        background: rgb(0, 0, 0);
        color: #FFF;
        @include flex-full-center();
        width: 100%;
        border: 1px solid transparent;
        @include transition();

        svg {
            @include transition();
        }

        &:hover {
            border: 1px solid #000;
            background: transparent;
            color: #000;

            svg {
                path {
                    stroke: #000;
                }
            }
        }
    }

    .checkbox_block {
        @include flex-center();
        gap: 6px;
    }

    span {
        user-select: none;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 300;
        line-height: 110%;
    }

    .option {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        cursor: pointer;
        font-size: 1.6rem;
        color: black;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .option input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
      
    .checkbox {
        position: relative;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid black;
        transition: all 0.15s;
    }
    
    .option input:focus-visible ~ .checkbox {
        border: 1px solid black;
    }
    
    .option:hover input ~ .checkbox {
        border: 1px solid black;
    }

    .checkbox1:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 1px;
        width: 0px;
        height: 0px;
        border: solid black;
        border-width: 2px 2px 0 0;
        opacity: 0;
        transform-origin: left top;
        transform: scaleX(-1) rotate(135deg);
        transition: width 0.08s ease 0.1s, height 0.1s ease, border-color 0.3s ease,
        opacity 0.1s ease 0.2s, border-width 0.1s ease;
    }
      
    .option input:checked ~ .checkbox1:after {
        opacity: 1;
        width: 4px;
        height: 7px;
        border-color: black;
        transition: width 0.1s ease, height 0.08s ease 0.1s, border-color 0.3s ease,
        border-width 0.1s ease;
    }
      
}
// contact

// comment
.comment {
    background: rgb(0, 0, 0);
    padding: 80px 0;

    .comment_title {
        @include flex-start();
        justify-content: space-between;
        margin-bottom: 45px;

        h3 {
            max-width: 620px;
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
        }

        span {
            max-width: 270px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            text-align: right;
        }
    }

    .swiper {
        &-wrapper {
            align-items: stretch;
        }

        &-slide {
            height: auto;
        }

        &_pagination {
            display: flex;
            justify-content: center;
            margin-top: 72px;
            gap: 12px;

            span {
                opacity: 1;
                height: 4px;
                margin: 0 !important;
                background: rgba(255, 255, 255, 0.2);
                padding: 0;
                border-radius: 0;
                width: 80px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: #fff;
                    transition: 2.5s linear width;
                    opacity: 0;
                }

                &.swiper-pagination-bullet-active {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .comment_block {
        height: 100%;
        background: rgb(24, 24, 24);
        padding: 34px;

        h6 {
            color: rgb(255, 255, 255);
            font-size: 26px;
            font-weight: 700;
            line-height: 110%;
        }

        span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
            margin: 10px 0;
        }

        .star {
            @include flex-center();
            gap: 13px;

            span {
                margin: 0;
            }
        }

        p {
            margin-top: 24px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
// comment

// contact\
[class*="copyrights-pane"] {
	display: none !important;
}

.map {
    position: relative;

    #map_iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        object-fit: cover;
    }

    .main_container {
        padding: 75px 0;
    }

    .map_content {
        position: relative;
        z-index: 2;
        margin-left: auto;
        max-width: 526px;
        padding: 40px;
        background: rgba(24, 24, 24, 0.95);
    }

    .map_content_btns {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        button {
            padding: 20px 0;
            flex: 1;
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            border-bottom: 2px solid #505050FF;
        }

        button.active {
            color: rgb(255, 255, 255);
            font-weight: 700;
            border-bottom: 2px solid rgb(166, 25, 46);
        }
    }

    .tab-content {
        .active {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .map_blocks {
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
    }

    span {
        display: block;
        color: rgba(255, 255, 255, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 4px;
    }

    a,
    address,
    h5 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
    }

    .main_btn {
        width: 100%;
        @include flex-full-center();
        margin-top: 24px;
    }
    
}
// contact

// footer
footer {
    background: rgba(0, 0, 0, 1);
    padding: 20px 0;

    .footer_btn {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 15.4px;
        letter-spacing: 1px;
        @include flex-center();
        gap: 6px;

        img {
            @include transition();
        }
    }

    .footer_btn.active {
        img {
            transform: rotate(180deg)
        }
    }

    .footer_text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 0;

        .first_text {
            margin-top: 25px;
        }
        
        p {
            color: #FFF;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
        }
    }

    .footer_text.active {
        max-height: 100%;
    }
}
// footer

// timer
.timer {
    background: #A6192E;
    padding: 20px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 30px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 10px;

        &_item {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotateY(180deg);
            background: conic-gradient(#bb4758 0%, #FFF 0%);
            

            &__in {
                background: #A6192E;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-bottom: 3px;
                transform: rotateY(-180deg);
            }

            h4 {
                font-size: 34px;
                font-weight: 900;
                line-height: 100%;
            }

            span {
                font-size: 12px;
                line-height: 110%;
            }
        }

        .dots {
            font-size: 39px;
            font-weight: 900;
        }
    }
}
// timer end

// Book
.book {
    padding: 100px 0 60px;

    &__title {
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
    }

    .swiper {
        &-wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 42px 24px;
        }

        &-slide {
            width: 196px;
            position: relative;

            .main_img {
                width: 100%;
            }

            p {
                color: rgb(0, 0, 0);
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;
                text-align: center;
                text-transform: uppercase;
                margin-top: 10px;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 70px;
                padding: 4px 6px;
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: 700;
                line-height: 110%;
                text-transform: uppercase;
                background: #A6192E;
            }
        }
    }
}
// Book end

// Example
.example {
    background: linear-gradient(180.00deg, rgba(245, 245, 245, 0) 50%,rgb(245, 245, 245) 100%);
    padding: 60px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 23px;
    }

    &__text {
        width: 417px;

        p {
            font-size: 30px;
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            margin: 12px 0 40px;

            span {
                color: #A6192E;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 16px 0;
                @include transition();
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;
                text-transform: uppercase;
                border: 1px solid #000;

                .icon {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                svg path {
                    @include transition();
                }

                &:hover {
                    background: #A6192E;
                    color: #fff;
                    border-color: #000;
                    border: 1px solid transparent;

                    svg path {
                        stroke: #fff;
                    }
                }
            }

            &_dark {
                background: #000;
                color: #fff;

            }
        }
    }

    &__result {
        width: calc(100% - 440px);
        display: flex;
        align-items: center;
        gap: 24px;

        .main_img {
            position: relative;
            width: 100%;

            img:not(.active) {
                display: none;
            }

            img {
                width: 100%;
                @include transition();
            }

            &:hover {
                img {
                    transform: translateX(-3%);
                }

                .discount {
                    transform: rotateZ(-10deg) scale(1.08);
                }
            }
        }

        .discount {
            position: absolute;
            top: 25px;
            left: 79px;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: #A6192E;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            @include transition();

            h3 {
                font-size: 30px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: 0px;
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 1px;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                line-height: 100%;
            }
        }

        .img_select {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 30px;
            flex-shrink: 0;

            button {
                position: relative;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;

                svg {
                    position: absolute;
                    top: 10px;
                    left: 7.33px;
                    display: none;
                }

                &.active {
                    svg {
                        display: block;
                    }
                }
            }
        }
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        width: 100%;

        &__item {
            position: relative;
            z-index: 1;
            background: white;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 14px;
            border-radius: 30px;
            gap: 28px;
            height: 58px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 58px;
                background: #A6192E;
                z-index: -1;
                border-radius: 30px;
                @include transition();
            }

            img {
                @include transition();
            }

            p {
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                @include transition();
            }

            &:hover {
                &::before {
                    width: 100%;
                }

                p {
                    color: #fff;
                }

                img {
                    transform: scale(1.2)
                }
            }
        }
    }
}
// Example end

// Choose
.choose {
    padding: 120px 0;

    &__title {
        text-align: center;
    }

    .select_wrap {
        margin: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;

        .select {
            width: 416px;
            cursor: pointer;

            input {
                cursor: pointer;
            }
        }
    }

    .car_list {
        border: 1px solid #000;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_left {
                display: flex;
                align-items: center;
                gap: 24px;

                img {
                    height: 208px;
                }

                h3 {
                    color: rgb(0, 0, 0);
                    font-size: 30px;
                    font-weight: 900;
                    line-height: 110%;
                    text-transform: uppercase;
                }

                p {
                    color: rgb(0, 0, 0);
                    font-size: 18px;
                    line-height: 110%;
                    margin: 6px 0 34px;
                }

                h4 {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 110%;
                    text-transform: uppercase;
                    text-decoration: line-through;
                }
            }

            &_right {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-right: 24px;
                width: 315px;

                a {
                    border: 1px solid #000;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    @include transition();
                    height: 52px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 110%;
                    text-transform: uppercase;

                    .icon {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    svg path {
                        @include transition();
                    }

                    &.dark {
                        background: #000;
                        color: #fff;
                    }

                    &:hover {
                        background: #A6192E;
                        color: #fff;
                        border: 1px solid transparent;

                        svg path {
                            stroke: #fff;
                        }
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid #000;
            }
        }
    }
}
// Choose

// Select
.select {
    position: relative;

    .icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input_wrap {
        position: relative;
        user-select: none;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
        }
    }
    
    input {
        width: 100%;
        border: 1px solid #000;
        height: 52px;
        outline: none;
        padding: 0 20px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 500;
        line-height: 110%;
    }

    &_list {
        z-index: 2;
        position: absolute;
        box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateY(2px);
        max-height: 202px;
        overflow-y: scroll;
        padding: 8px 0;
        display: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        button {
            width: 100%;
            text-align: left;
            padding: 8px 16px;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 500;
            line-height: 110%;
        }
    }

    &.active {
        .icon {
            svg {
                transform: rotateZ(180deg);
            }
        }

        .select_list {
            display: block;
        }
    }
}
// Select end

// Modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg path{ 
            stroke: #000;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: stretch;

        .content {
            &_left {
                width: 496px;
                background: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 60px;
                position: relative;
                

                h2 {
                    font-size: 28px;
                    font-weight: 900;
                    line-height: 110%;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    margin: 24px;
                }

                input[type="tel"] {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 110%;
                    height: 52px;
                    border: 1px solid #000;
                    padding: 0 20px;
                    color: #000;
                }

                button[type="submit"] {
                    width: 100%;
                    background: #000;
                    color: #fff;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin: 10px 0 14px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 110%;
                    text-transform: uppercase;
                    @include transition();

                    .icon {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        background: #A6192E;
                    }
                }

                .checkbox {
                    width: 100%;
                    user-select: none;
                    cursor: pointer;
                    text-align: left;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 110%;

                    input {
                        display: none;
                    }

                    span {
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            border: 1px solid #000;
                            width: 14px;
                            height: 14px;
                        }

                        &::after {
                            content: '';
                            background: url('../images/icons/check.svg') center/cover no-repeat;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 50%;
                            left: 3px;
                            transform: translateY(-50%);
                            display: none;
                        }
                    }

                    input:checked + span::after {
                        display: block;
                    }
                }

                .close {
                    width: 156px;
                    height: 52px;
                    border: 1px solid #000;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 110%;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    @include transition();

                    svg path {
                        @include transition();
                    }

                    .cion {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        background: #A6192E;
                        border-color: #A6192E;
                        color: #fff;

                        svg path {
                            stroke: #fff;
                        }
                    }
                }
            }

            &_right {
                width: 580px;
                min-height: 450px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
// Modal end

@import './responsive';