@font-face {
    font-family: "HarmonyOS Sans SC";
    src: url("../fonts/HarmonyOS/HarmonyOS_Sans_SC_Medium.ttf");
}
// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "HarmonyOS Sans SC", sans-serif;
    font-style: normal;
}

input {
    outline: none;
    font-family: "HarmonyOS Sans SC", sans-serif;
}

button {
    font-family: "HarmonyOS Sans SC", sans-serif;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1296px;
    margin: 0 auto;
}

.main_btn {
    padding: 16px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    color: rgba(0, 0, 0, 1);
    @include flex-center();
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
    @include transition();

    svg {
        @include transition();
    }

    &:hover {
        background-color: rgba(166, 25, 46, 1);
        color: rgba(255, 255, 255, 1);

        svg {
            path {
                stroke: rgba(255, 255, 255, 1);
            }
        }
    }
}

.btn {
    &_light {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }
}

// header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    &_top {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.9);

        
        &_left {
            @include flex-center();
            gap: 60px;
    
            a {
                @include flex-center();
                gap: 10px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
                font-weight: 400;
                line-height: 15.4px;
            }
        }
        
        &_right {
            @include flex-center();
            gap: 40px;
            a {
                @include flex-center();
                gap: 6px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: 1px;
            }
        }
    }

    &_bottom {
        padding: 16px 0;
        background: rgba(0, 0, 0, 0.8);
    }

    &_contacts {
        @include flex-center();
        gap: 40px;
    }

    &_logo {
        @include flex-center();
        gap: 24px;

        .line {
            height: 35px;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
        }

        h6 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            font-weight: 400;
            line-height: 110%;
        }
    }

    .location_phone {
        h6 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        a {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
        }
    }

    .media_btns {
        display: none;
    }

    &_media_phone,
    .burger_btn {
        display: none;
    }

}
// header

// Home 
.home {
    background: url('../images/home_bg.png') center/cover no-repeat;
    color: #FFF;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
    }

    &__title {
        font-size: 50px;
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__description {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
    }
}
// Home  end

// comment
.comment {
    background: rgb(0, 0, 0);
    padding: 80px 0;

    .comment_title {
        @include flex-start();
        justify-content: space-between;
        margin-bottom: 45px;

        h3 {
            max-width: 620px;
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
        }

        span {
            max-width: 270px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            text-align: right;
        }
    }

    .comment_block {
        background: rgb(24, 24, 24);
        padding: 34px;

        h6 {
            color: rgb(255, 255, 255);
            font-size: 26px;
            font-weight: 700;
            line-height: 110%;
        }

        span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
            margin: 10px 0;
        }

        .star {
            @include flex-center();
            gap: 13px;

            span {
                margin: 0;
            }
        }

        p {
            margin-top: 24px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
// comment

// contact
.contact {
    position: relative;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .main_container {
        padding: 75px 0;
    }

    .contact_content {
        position: relative;
        z-index: 2;
        margin-left: auto;
        max-width: 526px;
        padding: 40px;
        background: rgba(24, 24, 24, 0.95);
    }

    .contact_content_btns {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        button {
            padding: 20px 0;
            flex: 1;
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            border-bottom: 2px solid #505050FF;
        }

        button.active {
            color: rgb(255, 255, 255);
            font-weight: 700;
            border-bottom: 2px solid rgb(166, 25, 46);
        }
    }

    .contact_blocks {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
    }

    span {
        display: block;
        color: rgba(255, 255, 255, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 4px;
    }

    a,
    address,
    h5 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
    }

    .main_btn {
        width: 100%;
        @include flex-full-center();
        margin-top: 24px;
    }
    
}
// contact

// footer
footer {
    background: rgba(0, 0, 0, 1);
    padding: 20px 0;

    .footer_btn {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 15.4px;
        letter-spacing: 1px;
        @include flex-center();
        gap: 6px;

        img {
            @include transition();
        }
    }

    .footer_btn.active {
        img {
            transform: rotate(180deg)
        }
    }

    .footer_text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 0;

        .first_text {
            margin-top: 25px;
        }
        
        p {
            color: #FFF;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
        }
    }

    .footer_text.active {
        max-height: 100%;
    }
}
// footer

@import './responsive';